.container {
  position: absolute;
  top: 2%;
  left:10px;
  right: 10px;
  text-align: left;
}

.container h3 {
  font-size: 2rem;
}
.footer{
  bottom: 0%;
  position: fixed !important;
  padding-bottom: 0px !important;
}
.container a {
  font-size: 1.4rem;
}
